NODE_ENV="production"           #this should be either production or development in development the errors are saying more in the errors which the frontend gets

DATABASE_URL="mysql://root:@localhost:3306/beatwave"
DATABASE_USER="root"
DATABASE_PASSWORD=""
DATABASE_NAME="beatwave"
DATABASE_HOST="localhost"
DATABASE_PORT=3306

PORT=6969

FRONTEND_URL="http://127.0.0.1:5173"        #Where the frontend can reach the backend at the moment

RESET_PASSWORD_TTL_MINUTES=1                #After what time the Password reset will expier this needs to be a Number 1 = 1 minute

RESEND_API_KEY=""                           #Resend API key this is used for Email Sending
EMAIL_FROM=""                               #Email domain which will send the email and with what Header example: Example <noreply@example.com>

JWT_SECRET=""                               #This is needed so we can make JWTs
JWT_EXPIRES_IN=""                           #How long the JWT should last before expiering like: 7d

PASSWORD_PEPPER=""                          #The plus papper it needs to be a long random String
BCRYPT_ROUNDS=                              #How many times it should go over it it needs to be a Number

# Spotify Thing
SPOTIFY_CLIENT_ID=""                        #Spotify Client Id
SPOTIFY_CLIENT_SECRET=""                    #Spotify Client Secret
