@import "tailwindcss";

@theme {
  --animate-blink: blink 1s step-end infinite;

  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  --animate-float: float 20s infinite ease-in-out;
  @keyframes float {
    0%,
    100% {
      transform: translate(0, 0) scale(1);
    }
    33% {
      transform: translate(30px, -50px) scale(1.1);
    }
    66% {
      transform: translate(-20px, 20px) scale(0.9);
    }
  }

  --animate-wave: wave 1.2s ease-in-out infinite;
  @keyframes wave {
    0%,
    100% {
      height: 20%;
      opacity: 0.5;
    }
    50% {
      height: 100%;
      opacity: 1;
    }
  }

  /*  Colors */
  --color-accent: #423686;
  --color-accent-dark: #2C2453;
  --color-border: #13313D;
  --color-input-bg: #4B9FBE;
  --color-input-hover: #5987AA;
  --color-spotify-green: #1DB954;
  --color-soundcloud-orange: #FF5500;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(234, 226, 247, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: rgba(0, 0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(19, 49, 61, 1) 100%
  );
}
